backend/uploads/1741541843458-edf12a76-6a56-47fe-ad5b-a20f00c9c607.mp4
backend/uploads/1741541843949-Group 42 (6).png
backend/uploads/1741542942572-ll.jpg
backend/uploads/1741542942585-Screenshot 2025-02-25 112309.png
backend/uploads/1741604217703-Gantt Chart.jpg
backend/uploads/1743521984646-Table 1.png
backend/uploads/1743521984651-Screenshot (20).png
backend/uploads/1743522625154-CO7201_effort_rubric_2024-student.pdf
backend/uploads/1743524124654-CO7201_preliminary_report_marking_rubric_2025-student.pdf
backend/uploads/1743524124665-Gantt Chart.jpg
backend/uploads/1743524124686-hr200_preliminary_report.docx
backend/uploads/1743524124690-hr200_preliminary_report.pdf
backend/uploads/1743533443028-Gantt Chart.jpg
backend/uploads/1743533443059-Milestone.png
backend/uploads/1743533443061-Table 2.png
backend/uploads/1743533498039-Table 3.png
backend/uploads/1743533498040-Table 4.png
backend/uploads/1743533498040-Updated Gantt Chart.jpg
backend/uploads/1743533693996-CO7201_preliminary_report_marking_rubric_2025-student.pdf
backend/uploads/1743533694008-Gantt Chart.jpg
backend/uploads/1743533694034-hr200_preliminary_report.docx
backend/uploads/1743533694038-Timeplan.xlsx
backend/uploads/1743601157239-Gantt Chart.jpg
backend/uploads/1743601157300-Milestone.png
backend/uploads/1743762211570-Table 2.png
backend/uploads/1743762211572-Table 3.png
backend/uploads/1743762211578-Table 4.png
backend/uploads/1743762211581-Updated Gantt Chart.jpg
machine-learning/venvML/pyvenv.cfg
machine-learning/venvML/etc/jupyter/jupyter_notebook_config.d/jupyterlab.json
machine-learning/venvML/etc/jupyter/jupyter_server_config.d/jupyter_server_terminals.json
machine-learning/venvML/etc/jupyter/jupyter_server_config.d/jupyterlab.json
machine-learning/venvML/etc/jupyter/jupyter_server_config.d/jupyter-lsp-jupyter-server.json
machine-learning/venvML/etc/jupyter/jupyter_server_config.d/notebook.json
machine-learning/venvML/etc/jupyter/jupyter_server_config.d/notebook_shim.json
machine-learning/venvML/Lib/site-packages/_cffi_backend.cp310-win_amd64.pyd
machine-learning/venvML/Lib/site-packages/decorator.py
machine-learning/venvML/Lib/site-packages/distutils-precedence.pth
machine-learning/venvML/Lib/site-packages/ipykernel_launcher.py
machine-learning/venvML/Lib/site-packages/isympy.py
machine-learning/venvML/Lib/site-packages/jsonpointer.py
machine-learning/venvML/Lib/site-packages/jupyter.py
machine-learning/venvML/Lib/site-packages/nest_asyncio.py
machine-learning/venvML/Lib/site-packages/numpy-2.2.4-cp310-cp310-win_amd64.whl
